#main {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width:40rem;
    background-color: #393E46;
  text-align: center;
  box-sizing: border-box;
  position: relative;
}



.lifeProperty {
  list-style: none;
  padding: 0rem 0rem 0rem 0rem;
  display: flex;
  color: #FFFFFF;
  overflow: auto;
}

.lifeProperty>li {
  flex: 1;
  margin: 0.1rem 2px;
  display: flex;
  flex-direction: column;
  background-color: #393E46;
  border: 1px #ccc solid;
  border-radius: 0.2rem;
  font-size: 1rem;
  position: relative;
}

.lifeProperty>li>span:first-child {
  background: #fff;
  color: #000;
}
.lifeProperty>li:last-child>span:last-child{
  font-size:0.8rem;
}
.adventure {
  flex: 2;
  margin: 0.5rem 1rem;
  padding: 0;
  border: 1px #9b9b9b solid;
  background-color: #393E46;
  border-radius: 4px;
  overflow: auto;
}

.adventure>li {
  margin: 10px 0;
  padding: 5px 10px;
  display: flex;
  background-color: #4a5361;
  box-shadow: #EEEEEE 0 0 0.4rem;
  color: #EEEEEE;
  font-size: 1rem;
  position: relative;
}
.adventure>li>span:last-child {
  text-align:left;

}
#sats {
    width:15rem;
    background-color: #4a5361;
    color: #EEEEEE;
    font-size:1.5rem;
    margin: 0.5rem 1rem 1rem;
    border: 1px #EEEEEE solid;
border-radius: 0.2rem;
}
body{
  margin: 0;
  height: 100%;
}
